<% provide(:title, "Contact") %>

<h1>Contact</h1>
<ul>
    <li>Twitter:<%= link_to '@Iorin_dokugaku', 'https://twitter.com/Iorin_dokugaku' %></li>
    <li>Qiita:<%= link_to '@Iorin_dokugaku', 'https://qiita.com/Iorin_dokugaku' %></li>
    <li>portfolio:<%= link_to 'Team Recruiting App', 'https://teamrecruitingapp.herokuapp.com/' %></li>
    </br>
</ul>
