<% provide(:title, "Top") %>

<h2>Keijiban.appとは</h2>

    <% if user_signed_in? %>
        <h3><% link_to '掲示板を新規作成する' , '#' %></h3>

        <h3>掲示板一覧</h3>
        <%#= @topics.each do |t| %>
            <p><%#= t.title %></p>
            <li><%#= t.post.content %></li>
        <%# end %>

    <% else %>
        <li><%= link_to "サインイン", signup_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
    <% end %>