<% provide(:title, '新しくTopicを作成する') %>
<% provide(:button_text, 'Topicを作成') %>
<% provide(:url, topic_create_path) %>

<h2>新しくTopicを作成する</h2>

<%= form_with model: @topic , url: yield(:url) do |f| %>
    
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>

    <%=f.submit yield(:button_text), class:"btn btn-primary" %>
<% end %>