<% provide(:title, '新規コメント') %>
<% provide(:button_text, 'コメントを投稿') %>
<% provide(:url, post_create_path) %>

<h2>新しくpostを投稿する</h2>

<%= form_with model: @post , url: yield(:url) do |f| %>
    
    <%= f.label :content , 'コメント内容' %>
    <%= f.text_field :content, class:'form-control' %>

    <%=f.submit yield(:button_text), class:"btn btn-primary" %>
<% end %>