@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* universal */

body {
    padding-top:100px;
}
  
  section {
    overflow:auto;
  }
  
  textarea {
    resize:vertical;
  }
  
  .center {
    text-align:center;
    h1{
      margin-bottom:10px;
    }
  }


  /* universal ENDLINE */

  /* typography STARTLINE */

h1, h2, h3, h4, h5, h6 {
    line-height:1;
  }
    h1 {
      font-size:3em;
      letter-spacing:-2px;
      margin-bottom:30px;
      text-align:center;
    }
  
    h2 {
      font-size: 1.2em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align:left;
      font-weight:normal;
      color: #000000;
    }
  
  p {
    font-size: 0.9em;
    line-height: 1.7em;
  }
  
  ul {
    list-style: none;
    padding: left;
  }
  
  /* typography ENDLINE */


  /* header STARTLINE */

header {
    ul {
        float:right;
        list-style:none;
        li {
          float:left;
          margin-left:15px;
        }
      }
  }

#logo {
    background: white;
    float:left;
    margin-right:10px;
    border:solid 1.5px black;
    font-size:1.7em;
    color:Black;
    letter-spacing:-1px;
    padding:9px;
    font-weight:bold;
    &:hover {
      color:#555555;
      text-decoration:none;
    }
}

  /* header ENDLINE */


  /* footer STARTLINE */

footer {
    margin-top:45px;
    padding-top:5px;
    border-top:1px solid #eaeaea;
    color:#acabab;
    font-size:0.5em;
    a {
      color:gray;
      &:hover{
        color:#4b4949;
      }
    }
  
    small {
      float:left;
    }
  
    ul {
      float:right;
      list-style:none;
      li {
        float:left;
        margin-left:15px;
      }
    }
  } 

  /* footer ENDLINE */

  /*miscellaneous STARTLINE */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box-sizing;
  }
  
  /* miscellaneous ENDLINE */