<footer class="footer">
  <small>
    <%= link_to "Keijiban.app", root_path %>
    by <a href="https://twitter.com/Iorin_dokugaku">Kazamaki</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
